[Unit]
Description=Robot
After=remote-fs.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/RobotPi/initPins.sh

[Install]
WantedBy=remote-fs.target
