[Unit]
Description=Webcam
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /home/pi/RobotPi/initWebcam.sh

[Install]
WantedBy=multi-user.target
